/* .installation-products-detail{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 5%;
    row-gap: 25%;
    
}
.installation-products-detail .hidro-product{
    height: 100%;
} */
.installation-products-name{
  margin-top: 10%;
}
.Services-1{
   display: grid;
   grid-template-columns: 30% 30% 30%;
   column-gap: 5%;
   row-gap: 5%;
   align-items: center;
   grid-row-gap: 20px;
   

}
.Service-1{
    border-radius: 15px 15px 15px 15px;

    overflow: hidden;
    background-color: #edeef3;
    
}
.Service-1 img{
  mix-blend-mode:darken;

}
.descrr{
    padding: 4%;
    padding-bottom: 10%;
}

.icon{
    display: flex;
    align-items: center;
    gap: 5px;

}

.descrr button{
    padding-left: 1px;
    border: none;
}



.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    color: red;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    border: none;
  }
  
  .button:hover span {
    padding-right: 25px;
    color: red;

  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
