.hidroisolation-product-elements{
    padding-top: 10%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;

}
.products{
    display: flex;
    gap: 5%;
    /* flex-wrap: wrap; */
}
.hidroisolation-product-elements .Service img{
    mix-blend-mode:darken;

}
.hidroisolation-product-elements .Services{
    width: 100%;
}
/* .product{
    flex-grow: 1;
    flex-basis: 200;   
} */