.logo{
    width: 80px;
    gap: 10px;
}
.logo:hover{
    cursor: pointer;
}
#logo-2{
    width: 150px;
    border-left: solid rgb(0, 0, 0) 3px;
    padding-left: 5%;
}

.Header{
    /* margin-top: 1%; */
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 7px;

    background-color: white;
    position: absolute;
    display: flex;
    gap: 24%;
    width: 90%;
    color:black;
}
.info{
    display: flex;
    width:  100%;
    font-family: sans-serif;
    font-size: 18px;
    gap: 15%;
    text-align: center;
    /* margin-right: 5%; */
    align-items: center;

}

.info:hover{
    cursor: pointer;
}
button{
    font-family: Sans-serif;
    /* height: 30%; */

    font-size: 17px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    fill: #FFFFFF;
    color: black;
    background-color: #FFFFFF00;
    border-style: none;
    transition: 0.2s;

}
.contacts{
    display: grid;
    grid-template-columns: 90% 40%;
}
/* #contacts-3 button:hover{
    background-color: #5BBDB3;
    border-color: #5BBDB3;
    color: white;
} */
