.Contacts{
    height: 75vh ;
    padding-top: 5%;
    padding-right: 15%;

    padding-left: 10%;
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 10%;
}
.contact-details img{
    width: 20px;
}
.contacts-details{
    display: flex;
    align-items: center;
    gap: 5%;
    
}

@media (max-width: 1024px) {
    .Contacts{
        grid-template-columns: 100%;
    }
}